body {
  font-family: Times New Roman, serif;
  background-color: DarkGreen;
  background-image: url("https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/camouflage.jpg?v=1731010180689");
  color:white;
}

h1 {
  color:yellow;
  text-align:center;
  text-shadow: 2px 2px HotPink;
}

h2 {
  text-align:center;
}

a {
  color:HotPink;
  font-style: italic;
}

/* css for centering an image: */
#splash{
  display:block;
  width:300px;
  margin-left:auto;
  margin-right:auto;
}

#eyeball1{
  position:absolute;
  left:100px;
  top:0px;
}

#eyeball2{
  position:absolute;
  left:350px;
  top:100px;
}

#eyeball3{
  position:absolute;
  left:300px;
  bottom:0;
}


#container{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:500px;
  position:relative;
}

#container2{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:500px;
  position:relative;
  background-image:url('https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/back9.jpg?v=1731013843716');
}

#flexcontainer{
  display:flex;
  margin-left:auto;
  margin-right:auto;
  width:500px;
  height:500px;
  position:relative;
  background-image:url('https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/back9.jpg?v=1731013843716');
  justify-content:space-evenly;
  align-items:center;
  flex-direction:column;
}

#link1{
  background-color:yellow;
  position:absolute;
  top:100px;
}

#tiger {
  position:absolute;
  top:100px;
  left:100px;
}
#tiger2 {
  position:absolute;
  top:150px;
  left:150px;
}

#welcome {
  position:absolute;
  top:100px;
  left:150px;
}

#joshua {
  right:25px;
  top:60px;
  position:absolute;
}

#back {
  position:absolute;
  bottom:10px;
  left:10px;
  background-image:url(https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/background4.jpg?v=1731014221689);
  width:50px;
  
}

#skull {
  position:absolute;
  bottom:50px;
  left:25px;
}

#artcontent {
  position:absolute;
  top:250px;
  left:100px;
  background-image:url(https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/background4.jpg?v=1731014221689);
  width:200px;
  height:100px;
}

table{
  width:100%;
}

.left {
  width:25%;
  border-style:solid;
  border-width:1px;
  background-color:blue;
}

.right {
  background-image:url('https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/097.jpg?v=1731013229274');
  
}

.bottomRight {
  background-image:url('https://cdn.glitch.global/81f9abb6-862e-4794-880e-6bd8ab24952e/blackoil.jpg?v=1731013407759');
}

